/* Navigation */
#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.websiteHeader {
    background-color: white;
    margin: 0px;
}

.navbar {
    background-color: slategray;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbarLeft {
    margin: 0px;
    padding: 0px;
}

.navbarRight {
    margin: 0px;
    padding: 0px;
}

.navbarLink {
    display: inline-block;
}

.navbarLink a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.navbarLink a:hover, .dropdown:hover {
    background-color: darkslategray;
}

.dropdownButton {
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: slategray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.dropdownContent a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }

.dropdown:hover .dropdownContent {
    display: block;
}

/* Page Formatting */
.content {
    margin: auto;
    width: 90%;
}

.banner {
    margin-top: 10px;
}


/* Listings */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE";
    color: gray;
}


/* Form */
.formInput {
    height: 90px;
}

.formTextArea {
    height: 138px;
}


/* Users */
.userTable thead tr th {
    text-align: center;
}

.userTable tbody tr td {
    text-align: center;
}


/* Account */
.accountField {
    border-top: 1px solid lightgray;
    padding: 10px;
}

.accountFieldLabel {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    color: dimgray;
}

.accountFieldValue {
    font-size: 16px;
}

#startTimeHTML {
    display: none;
}

#endTimeHTML {
    display: none;
}