/* Navigation */
#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.websiteHeader {
    background-color: white;
    margin: 0px;
}

.navbar {
    background-color: slategrey;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.navbarLink {
    display: inline-block;
}

.navbarLink a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.navbarLink a:hover {
    background-color: darkslategrey;
}

/* Page Formatting */


.content {
    margin: auto;
    width: 90%;
}

.banner {
    margin-top: 10px;
}

/* Form */
.formInput {
    height: 90px;
}

.formTextArea {
    height: 138px;
}

/* Users */
.userTable thead tr th {
    text-align: center;
}

.userTable tbody tr td {
    text-align: center;
}

/* Account */
.accountField {
    border-top: 1px solid lightgray;
    padding: 10px;
}

.accountFieldLabel {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    color: dimgray;
}

.accountFieldValue {
    font-size: 16px;
}

#startTimeHTML {
    display: none;
}

#endTimeHTML {
    display: none;
}